@charset "UTF-8";

*{
    margin: 0px;
}
.cabecalho{
    background-color: #f28974;
    height: 200px;
    box-shadow: -2px -3px 8px 4px #00000099;
}
body{
    background-image: linear-gradient(90deg, #fcf3af, #a282fa);
}
.cima{
    display: flex;
}
.baixo{
    justify-content: space-between;
    display: flex;
}
nav{
    margin-top: 15px;
}
a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 15px 20px;
    transition: 0.4s;
}
#logoCar{
    position: absolute;
    height: 100px;
    width: 100px;
    margin-top: 25px;
    margin-left: 170px;
}
.logotipo{
    font-weight: bold;
    font-family: 'system-ui', 'Segoe UI', 'sans-serif';
    font-size: 110px;
    color: white;
    margin: auto;
}
.menu{
    display: flex;
}
.carrinho{
    margin-right: 20px;
    position: relative;
    cursor: pointer;
}
hr{
    width: 90%;
    margin-left: 5%;
}
span{
    position: absolute;
    margin-top: -5px;
    right: 15px;
    background-color: #db53cc;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-weight: bolder;
}
#bv{
    color: white;
    margin-right: 50px;
    margin-top: 10px;
}
footer{
    height: 100px;
    background-color: #db53cc;
    color: white;
}
h3{
    font-weight: bold;
    font-family: 'system-ui', 'Segoe UI', 'sans-serif';
    font-size: 50px;
    color: white;
    text-align: center;
}

/* PSEUDOS */

a:hover{
    background-color: #995547;
}